/**
 * The following styles get applied both on the front of your site
 * and in the editor.
 *
 * Replace them with your own styles or remove the file completely.
 */

.wp-block-create-block-wp_url_gallery {
	background-color: #21759b;
	color: #fff;
	padding: 2px;
}

.grid_container {
	width: 100%;
	height: auto;
	display: grid;
	gap: 5px 5px;
}

.gallery_image {
	object-fit: cover !important;
	height: 100% !important;
	max-height: 300px;
	width: 100% !important;
}